{% extends 'home/layout.html' %}

{% block title %}News{% endblock %}

{% block main %}
    <div class="news_main">
        {% if news %}
            <h1 class="news-news">News on page</h1>
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3 class="title-news">{{ el.title }}</h3>
                    <p class="anons-news">{{ el.anons }}</p>
                    <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">More</a>
                </div>

            {% endfor %}
        {% else %}
            <p>Noting in news</p>
        {% endif %}

    </div>
{% endblock %}